{% extends "layout.html" %}
{% block content %}
<img src="/static/css/img/logod.png" alt="" width="100" height="40" align="right">
<br>
<jumbotron>
    <div class="jumbotron ">
        <h1 class="my-1 text-white ">Nuestros clientes.</h1>
        <p class="lead  font-italic text-black">Brindando creatividad y el mejor servicio.</p>
    </div>
</jumbotron>
<br>
<br>
<div class="tarjetasImg">
    <div class="column col-4">
        <br>
        <div class="cardi">
            <img src="/static/css/img/ABCTech.png" class="card-img-top" alt="...">
            <div class="card-body">
                <a style="color: #0084d0" href="https://abctechnologies.com">https://abctechnologies.com</a>
            </div>
        </div>
    </div>
    <div class="column col-4">
        <br>
        <div class="cardi">
            <img src="/static/css/img/YF.png" class="card-img-top" alt="...">
            <div class="card-body">
                <a style="color: #0084d0" href="https://www.yanfeng.com/en">https://www.yanfeng.com/en</a>
            </div>
        </div>
    </div>
    <div class="column col-4">
        <br>
        <div class="cardi">
            <img src="/static/css/img/CM.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <a style="color:  #0084d0" href="https://www.yanfeng.com/en">https://www.yanfeng.com</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

{% endblock%}