<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<img src="/static/css/img/logod.png" alt="" width="100" height="40" align="right">
<br>
<!--Jumbotron-->
<div class="jumbotron ">
    <h1 class="my-1 text-white ">Ingeniería de Proyectos.</h1>
    <p class="lead  font-italic text-black">¨Soluciones creativas y elementales¨</p>
</div>
<div class="containg">
    <div class="row align-items-start">
        <div class="col">
            <div class="car" style="width: 18rem;">
                <img src="/static/css/img/keyin.jpeg" class="card-img-top" height="280">
                <div class="card-body">
                    <h5 class="card-title" style="color: #d04900">Proyecto llave en mano.</h5>
                    <p class="card-text"> </p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Ver
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modalcontent">
                                <div class="modal-body">
                                    <div class="container">
                                        <!--Columnas-->
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col align-self-start">
                                                <!--card1-->
                                                <div class="car mb-3" style="max-width: 540px;">
                                                    <div class="row g-0">
                                                        <div class="col-md-16">
                                                            <img src="/static/css/img/Soldadora.png"
                                                                class="img-fluid rounded-start" alt="...">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="card-body">
                                                                <h5 class="card-title" style="color: #cb3600">Soldadora
                                                                    por ultrasonido. </h5>
                                                                <p class="card-text">Maquina de ensamble tipo espejo
                                                                    para ensamble - Piezas LH & RH - con tablero de
                                                                    control compartido.
                                                                    Ocho puntos de soldadura con sonotrodos
                                                                    individuales.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col align-self-center">
                                                <!--card2-->
                                                <div class="car mb-10" style="max-width: 540px;">
                                                    <div class="row g-0">
                                                        <div class="col-md-16">
                                                            <img src="/static/css/img/Probafuga.jpeg"
                                                                class="img-fluid rounded-start" alt="...">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="card-body">
                                                                <h5 class="card-title" style="color: #cb3600">Probadoras
                                                                    de fuga. </h5>
                                                                <p class="card-text">Maquina de prueba de calidad,
                                                                    prueba de fuga de tipo diferencial con control de
                                                                    torque para ensamble de componentes.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col align-self-end">
                                                <!--card3-->
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <div class="car mb-6" style="max-width: 540px;">
                                                    <div class="row g-0">
                                                        <div class="col-md-16">
                                                            <img src="/static/css/img/Flip-floop.jpeg"
                                                                class="img-fluid rounded-start d-block w-100" alt="...">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="card-body">
                                                                <h5 class="card-title" style="color: #cb3600">
                                                                    Dispositivo Flip - Flops
                                                                    . </h5>
                                                                <p class="card-text">Maquina de ensamble de sensor y
                                                                    bomba con prueba eléctrica y funcionamiento interno
                                                                    de los mismos.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--------------------------------Diseño Mecanico---------------------->
        <div class="col">
            <div class="car" style="width: 18rem;">
                <img src="/static/css/img/diseñomecanico.jpeg" class="card-img-top" height="280" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: #d04900">Diseño mecanico.</h5>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Ver
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="staticBackdropLabel" style="color: #d04900">Diseño
                                        mecánico 2D/3D<br></h4>
                                    <h5 style="color:  #005596">Proveemos servicios de diseño mecánico, tales como: <br>
                                        + Diseño de componentes para la industria automotriz, aeronáutica y
                                        metalmecánica
                                        en general. <br>
                                        + Modelado 3D de maquinaria, dispositivos, ensambles y subsensambles. <br>
                                        + Generación de dibujos 2D para fabricación. <br>
                                        + Generación de listas de partes (Bill of materials, BOM). <br>
                                        + Adaptación de diseños a condiciones del mercado e industria nacional
                                        (materiales, proveedores nacionales). <br>
                                        Dichos servicios pueden ser realizados en software como: <br>
                                        + Solidworks, Inventor.</h5>

                                </div>
                                <div class="modal-body">

                                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-indicators">
                                            <button type="button" data-bs-target="#carouselExampleCaptions"
                                                data-bs-slide-to="0" class="active" aria-current="true"
                                                aria-label="Slide 1"></button>
                                            <button type="button" data-bs-target="#carouselExampleCaptions"
                                                data-bs-slide-to="1" aria-label="Slide 2"></button>

                                        </div>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="/static/css/img/DisenoEj.png" class="d-block w-100" alt="...">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5 style="color: rgb(34, 255, 0)">Diseño de dispositivo Flip-Flop
                                                    </h5>
                                                    <p class="text-dark"></p>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img src="/static/css/img/plano.png" class="d-block w-100" alt="...">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5 style="color: rgb(34, 255, 0)">Plano para diseño</h5>

                                                </div>
                                            </div>

                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--------------------------------Automatizacion---------------------->
        <div class="col">
            <div class="car" style="width: 18rem;">
                <img src="/static/css/img/automatizacion.webp" class="card-img-top" height="280" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: #d04900">Automatizacion y Control.</h5>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop1">
                        Ver
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="staticBackdropLabel1" style="color: #d04900">
                                        "La máxima vanguardia tecnológica en tus manos"

                                    </h3>
                                </div>
                                <div class="modal-body">
                                    <div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-indicators">
                                            <button type="button" data-bs-target="#carouselExampleCaptions1"
                                                data-bs-slide-to="0" class="active" aria-current="true"
                                                aria-label="Slide 1">
                                            </button>
                                            <button type="button" data-bs-target="#carouselExampleCaptions1"
                                                data-bs-slide-to="1" aria-label="Slide 2">
                                            </button>
                                            <button type="button" data-bs-target="#carouselExampleCaptions1"
                                                data-bs-slide-to="1" aria-label="Slide 3">
                                            </button>

                                        </div>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="/static/css/img/servicio.png" class="d-block w-100" alt="...">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5 style="color: rgb(34, 255, 0)">
                                                    </h5>
                                                    <p class="text-dark"></p>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img src="/static/css/img/productividad.png" class="d-block w-100"
                                                    alt="...">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5 style="color: rgb(34, 255, 0)"></h5>

                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img src="/static/css/img/Marcas.png" class="d-block w-100" alt="...">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5 style="color: rgb(34, 255, 0)"></h5>

                                                </div>
                                            </div>

                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExampleCaptions1" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExampleCaptions1" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}