<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<img src="/static/css/img/logod.png" alt="" width="100" height="40" align="right">
<br>
<!--Jumbotron-->
<div class="jumbotron ">
    <h1 class="my-1 text-white ">Linea de servicios.</h1>
    <p class="lead  font-italic text-black">¨Diseño y soluciones CNC¨</p>
</div>
<br>
<br>
<br>
<div class="containg">
    <div class="row align-items-start">
        <div class="col">
            <div class="carm" style="width: 8rem;">
                <img src="/static/css/img/machine.png" class="card-img-to d-block w-100" height="100">

                <div class="card-body1">
                    <br>
                    <h5 class="card-titleM" style="color: #ffffff">Diseño y fabricación de dispositivos y maquinas
                        especiales.</h5>
                    <p class="card-text"> </p>
                    
                    
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary  d-block w-100" align="center" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        Ver
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modalcontent">
                                <div class="modal-body">
                                    <img src="/static/css/img/maquinaespeciales.jpg">

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--------------------------------Maquinado CNC---------------------->
        <div class="col">
            <div class="carm" style="width: 8rem;">
                <img src="/static/css/img/machine.png" class="card-img-to d-block w-100" height="100" alt="...">
                <div class="card-body1">
                    <br>
                    <h5 class="card-titleM" style="color: #ffffff">Maquinado CNC y convencional.</h5>
                    <br>
                    <br>
                    <br>
                    
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary  d-block w-100" align="center" data-bs-toggle="modal"
                        data-bs-target="#exampleModalM">
                        Ver
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalM" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modalcontent">
                                <div class="modal-body">
                                    <img src="/static/css/img/M-CNC.PNJ.png">

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!--------------------------------Retrofit y adaptacion de herramientas y dispositivos.---------------------->
        <div class="col">
            <div class="carm" style="width: 8rem;">
                <img src="/static/css/img/machine.png" class="card-img-to d-block w-100" height="100" alt="...">
                <div class="card-body1">
                    <br>
                    <h5 class="card-titleM" style="color: #ffffff">Retrofit y adaptacion de herramientas y dispositivos.
                    </h5>
                
                    
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary  d-block w-100" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop1">
                        Ver
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="/static/css/img/profit.jpg" class="d-block w-100" alt="...">
                                                <div class="carousel-caption d-none d-md-block">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--------------------------------Paileria y estructuras---------------------->
        <div class="col">
            <div class="carm" style="width: 8rem;">
                <img src="/static/css/img/machine.png" class="card-img-to d-block w-100" height="100" alt="...">
                <div class="card-body1">
                    <br>
                    <h5 class="card-titleM" style="color: #ffffff">Paileria y estructuras.</h5>
                    <br>
                    <br>
                    <br>
                    <br>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary d-block w-100" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop11">
                        Ver
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop11" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel11" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <div id="carouselExampleCaptions11" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-indicators">
                                        </div>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="/static/css/img/paileria.jpg" class="d-block w-100" alt="...">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5 style="color: rgb(34, 255, 0)">
                                                    </h5>
                                                    <p class="text-dark"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% endblock%}